.user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 20px 55px 20px 30px;

  &__title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 6px 11px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }

  &__update-btn {
    background: #4b51ef;
  }
  &__submit-btn {
    width: fit-content;
    align-self: end;
    background: #52cf4f;
  }
  &__title {
    font-size: 14px;
    line-height: 16px;
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    border: 1px solid rgba(243, 243, 243, 1);
    border-radius: 8px;
    gap: 10px;
  }
  &__input {
    label {
      display: flex;
      flex-direction: column;
      font-size: 11px;
      line-height: 13px;
      gap: 3px;
    }
    textarea {
      resize: vertical;
      height: 55px;
      border: 1px solid rgba(216, 216, 216, 1);
      border-radius: 5px;
      font-size: 12px;
      line-height: 14px;
      padding: 5px 10px;
    }
  }
}
